<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" /> 
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1.0,user-scalable=0">  
    <meta name="theme-color" content="{{ settings.color_primary }}">    
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
    <link rel="preconnect" href="https://fonts.shopify.com" crossorigin>
    <link rel="preconnect" href="https://monorail-edge.shopifysvc.com">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Google tag (gtag.js) -->

<script async src="https://www.googletagmanager.com/gtag/js?id=G-KP3QZKQ0HP"></script>

<script>

 window.dataLayer = window.dataLayer || [];

 function gtag(){dataLayer.push(arguments);}

 gtag('js', new Date());

 gtag('config', 'G-KP3QZKQ0HP');

</script>
    {% include 'meta' %}
    <!-- Social meta  -->
    {% include 'social-meta-tags' %}    
    <!-- CSS  -->
    {% include 'header-css' %}
    <!-- Primary JS files  -->
    {% include 'header-js' %}
    
    <!-- content for header -->
    {{ content_for_header }}       
    <!-- content for header -->
    
  </head>
  <body id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }} {% unless tempate contains 'index' %} others {% endunless %}">{{content_for_layout}}</body>
</html>