{% case section.settings.grid %}
{% when '1' %}
{% when '2' %}
{%- assign column = 'two-column' -%}
{% when '3' %}
{%- assign column = 'three-column' -%}              
{% when '4' %}
{%- assign column = 'four-column' -%}              
{% when '5' %}
{%- assign column = 'five-column' -%}   
{% when '6' %}  
{%- assign column = 'six-column' -%}   
{% else %}
{%- assign column = 'three-column' -%}              
{% endcase %} 

{% if section.settings.enable_overlay %}
{% assign section_overlay = 'dt-sc-overlay' %}
{% endif %}

{% case section.settings.background_style %}
{% when 'default' %}
{% when 'parallax' %}
{%- assign background_style = 'data-speed="2"' %}
{% when 'fixed' %}
{%- assign background_style = 'data-speed="1"' %}
{% endcase %}

{% if section.settings.show_background_image %}
{% assign lazyScript = "lazyload" %}
{% endif %}

<div class="dt-sc-section-wrapper  {{lazyScript}} {{ section_overlay }} {% if section.settings.background_style == 'parallax' %} parallax-initiated{% endif %}" {% if section.settings.background_style == 'parallax' %} data-speed="2" data-style="parallax"{% endif %} style="{% render 'bg-color-image-padding' %} background-size: {{- section.settings.background_size -}}; {% if section.settings.background_style == 'fixed' %}background-attachment: fixed;{% endif %} background-repeat:{% if section.settings.background_size == 'repeat' %}repeat{% else %}no-repeat;{% endif %}" {% include 'bg_image' %}> 
  <div class="{% render 'container-settings' %}"> 
    <div class="row {{ section.settings.custom_class_name }}">
    {% render 'section-heading', class: section.id %} 
      
      <div class="dt-sc-column two-column">
         <div class="dt-sc-progress-banner-section {{ section.settings.overlay_style}}">
          {% if section.settings.block_image != blank %}
          {%- assign img_url = section.settings.block_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
          <img class="lazyload"
               src="{{ 'loading.gif' | asset_url }}"
               data-src="{{ section.settings.block_image | img_url: 'master' }}"
               data-widths="[180, 360, 470, 600, 770, 970, 1060, 1280, 1512, 1728, 2048]"
               data-aspectratio="{{ section.settings.block_image.aspect_ratio }}"
               data-sizes="auto"            
               alt="{{ section.settings.block_image.alt | escape }}">            
          <noscript>
            {{ section.settings.block_image | img_url: '480x480', scale: 2 | img_tag: section.settings.block_image.alt, 'dt-sc-noscript-image' }}
          </noscript>
          {% endif %}
        </div>
        <div class="video-left">
          {% if section.settings.block_sub_title != blank %}
          <h6 class="dt-sc-sub-title">{{section.settings.block_sub_title}}</h6>
          {% endif %}
          {% if section.settings.block_title != blank %}
          <h2 class="dt-sc-main-title">{{section.settings.block_title}}</h2>
          {% endif %}        
          {% if section.settings.block_description != blank %}
          <p class="dt-sc-description">{{section.settings.block_description}}</p>
          {% endif %}
          {% if section.settings.block_button_link != blank %}
          <a href="{{section.settings.block_button_link}}" class="dt-sc-btn">{{section.settings.block_button_text}}</a>
          {% endif %}
          {% for block in section.blocks %}    
        <div class="progress-bar progress-{{block.id}}">
          {% if block.settings.range_title != blank %}
          <p>{{ block.settings.range_title }}</p>
          {% endif %}
          <div class="range"><div class="progress-{{block.id}}-value"><span>{{ block.settings.range}}%</span></div></div>
        </div>
        {% endfor %}
        </div>
       
      </div>
    </div>
  </div>
</div>

<style> 
    
  .dt-sc-progress-banner-content{position:relative;}
   .dt-sc-progress-banner-content .video-word{ width:auto; height: 50px; color: var(--DTSecondaryColor); background:var(--DTBodyBGColor); bottom:30px; position: absolute; left:75px; border-radius:5px;
    line-height: 53px; display:flex; align-items: center; text-align: center; transition: var(--DTBaseTransition); padding:10px; border-top-left-radius: 0;border-bottom-left-radius: 0; }
  .video-left .progress-bar p{color:var(--DTTertiaryColor); margin-bottom:15px;}
  .video-left .dt-sc-description{margin-bottom:30px; color:var(--DTTertiaryColor);}
  .we-take .video-left .dt-sc-sub-title{position:relative;}
   .we-take .video-left .dt-sc-sub-title:after{content: ''; position:absolute; width: 25px;height: 5px;background-image:url({{ "right-sub.png" | asset_url }});margin-left: 10px;top:12px;}

    {% for block in section.blocks %}    
  #shopify-section-{{section.id}}.home-progress-bar .progress-{{block.id}} .range {height:15px;width:100%;background-color:var(--DT_Warning_Color);background-color:{{block.settings.progressbar_bg_color}};margin-bottom:60px;}   
  #shopify-section-{{section.id}}.home-progress-bar .range .progress-{{block.id}}-value {background-color: var(--DTPrimaryColor); background-color:{{block.settings.progress_bg_color}}; height:15px; position:relative;}
  #shopify-section-{{section.id}}.home-progress-bar .range .progress-{{block.id}}-value {width: {{block.settings.range}}%;}
  #shopify-section-{{section.id}}.home-progress-bar .range .progress-{{block.id}}-value  span {position:absolute;right: -60px;
    font-size: 18px;top: -16px;background:var(--DTBodyBGColor);padding: 5px;border-radius: 50px;height: 50px;width: 50px; display: flex;align-items: center;    border: 1px solid rgba(0,0,0,0.04);}
   {% endfor %}
  #shopify-section-{{section.id}}.home-progress-bar .dt-sc-section-wrapper { z-index: 1; }

  #shopify-section-{{section.id}}.home-progress-bar .dt-sc-heading .dt-sc-main-heading { color: var(--DTColor_Heading); color:{{ section.settings.section_heading_color }}; } 
  #shopify-section-{{section.id}}.home-progress-bar .dt-sc-heading .dt-sc-sub-heading { color: var(--DTColor_Heading); color:{{ section.settings.section_sub_heading_color }};} 
  #shopify-section-{{section.id}}.home-progress-bar .dt-sc-heading .dt-sc-heading-description { color: var(--DTColor_Heading); color:{{ section.settings.section_description_color }}; } 
  #shopify-section-{{section.id}}.home-progress-bar .dt-sc-heading .dt-sc-btn { 
    background: var(--DT_Button_BG_Color); 
      color: var(--DT_Button_Text_Color);
      background:{{ section.settings.section_button_bg_color }}; 
      color:{{ section.settings.section_button_text_color }}; }
  #shopify-section-{{section.id}}.home-progress-bar .dt-sc-heading .dt-sc-btn:hover { 
    background: var(--DT_Button_BG_Hover_Color);
      background:{{ section.settings.section_button_hover_bg_color }};
      color: var(--DT_Button_Text_Hover_Color);
        color:{{ section.settings.section_button_hover_text_color }}; }


  #shopify-section-{{section.id}}.home-progress-bar .dt-sc-overlay:before { 
    color: var(--DTTertiaryColor); 
      color: {{ section.settings.background_color }};    
      background: currentcolor; 
      opacity: {{ section.settings.overlay_transparency }}; }

  #shopify-section-{{section.id}}.home-progress-bar  .dt-sc-main-title { color: var(--DTColor_Heading); color: {{section.settings.banner_heading_color}}; }
  #shopify-section-{{section.id}}.home-progress-bar  .dt-sc-sub-title { color: var(--DTColor_Heading); color: {{section.settings.banner_sub_heading_color}}; text-transform:uppercase;font-family: var(--DTFontTypo_Body);letter-spacing: 1.5px;font-weight: 600; position:relative; }
  #shopify-section-{{section.id}}.home-progress-bar  .dt-sc-description { color: var(--DTColor_Body); color: {{section.settings.banner_description_color}}; }
  #shopify-section-{{section.id}}.home-progress-bar  .dt-sc-btn:not(.close_icon) { 
    background: var(--DT_Button_BG_Color); color: var(--DT_Button_Text_Color);
      background: {{section.settings.banner_button_bg_color}}; color: {{section.settings.banner_button_text_color}}; 
  }
  #shopify-section-{{section.id}}.home-progress-bar .dt-sc-progress-banner-inner .dt-sc-btn:not(.close_icon):hover { 
    background: var(--DT_Button_BG_Hover_Color); color: var(--DT_Button_Text_Hover_Color);
      background: {{section.settings.banner_button_hover_bg_color}}; color: {{section.settings.banner_button_hover_text_color}}; 
  }

  .dt-sc-progress-banner-content *, .dt-sc-progress-banner-content *:not(:only-child) { margin: 0; }
  .dt-sc-progress-banner-content *:not(:last-child) { margin: 0 0 20px 0; }
 
  #shopify-section-{{section.id}}.home-progress-bar .dt-sc-progress-banner-section { 
    {% if section.settings.enable_box_shadow %} box-shadow: var(--DTboxShadow); {% endif %} 
      border-radius: var(--DTRadius); border-radius: {{ section.settings.border_radius }}px; 
        }
  
  #shopify-section-{{section.id}}.home-progress-bar .dt-sc-progress-banner-section > img {
    width: 100%; object-fit: cover; object-position: center; border-radius:var(--DTRadius);
  }

 
  .dt-sc-progress-banner-section { width: 100%; position: relative; overflow: hidden; }
  .dt-sc-progress-banner-section iframe { width: 100%; }

 

 

  .dt-sc-progress-banner-section.with-overlay:before { content: ""; display: block; width: 100%; height: 100%; transition: var(--DTBaseTransition); position: absolute; }

  .dt-sc-progress-banner-section .dt-sc-progress-banner-content { position: absolute; height: auto; width: auto; left: 0; top: 0; display: flex;
    flex-wrap: wrap; -webkit-box-orient: vertical; -webkit-box-direction: normal; flex-direction: column; height: 100%; width: 100%;
  }

  .dt-sc-progress-banner-section .dt-sc-progress-banner-content .dt-sc-progress-banner-inner { padding: 30px; }
  .dt-sc-progress-banner-section .dt-sc-progress-banner-content .dt-sc-progress-banner-inner .dt-sc-btn { display: inline-block; }

  .dt-sc-progress-banner-section .dt-sc-progress-banner-content.default { -webkit-box-align: start; align-items: flex-start;
    -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start;
  }
  .dt-sc-progress-banner-section .dt-sc-progress-banner-content.center { -webkit-box-align: center; -ms-flex-align: center; align-items: center;
    -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; text-align: center;
  }

   .dt-sc-progress-banner-section .close_icon:focus, .dt-sc-progress-banner-section .close_icon:hover { filter: alpha(opacity=75); opacity: .75; }

 
   @media (max-width: 1024px) {
     
     .we-take .dt-sc-column.two-column{ grid-template-columns: 1fr;}
   }
  
 
  
  
  {% assign margin = section.settings.margin | split: ',' %}
  {% assign margin_top = margin[0] %}
  {% assign margin_bottom = margin[1] %} 
  {% assign padding = section.settings.padding | split: ',' %}
  {% assign padding_top = padding[0] %}
  {% assign padding_bottom = padding[1] %} 
  @media only screen and (min-width: 1200px) {
    #shopify-section-{{section.id}}.home-progress-bar .dt-sc-section-wrapper { margin-top:{{margin_top}}px; margin-bottom:{{margin_bottom}}px;padding-top:{{padding_top}}px; padding-bottom:{{padding_bottom}}px; }
  }

  @media only screen and (max-width: 1199px) {
    #shopify-section-{{section.id}}.home-progress-bar .dt-sc-section-wrapper { margin-top:{{margin_top | divided_by: 2 }}px; margin-bottom:{{margin_bottom | divided_by: 2}}px;padding-top:{{padding_top | divided_by: 2}}px; padding-bottom:{{padding_bottom | divided_by: 2}}px;}
  }

  #shopify-section-{{section.id}}.home-progress-bar .greenie-progressbar .video-left {
    padding: 0 0 0 80px;
  }
  
  {% for block in section.blocks %}    
  #shopify-section-{{section.id}}.home-progress-bar .greenie-progressbar .range .progress-{{block.id}}-value span {
    top: -45px ;
    background: transparent;
    border: 0 ;
    right: -8px;
  }
  #shopify-section-{{section.id}}.home-progress-bar .greenie-progressbar   .progress-bar.progress-{{block.id}} p{color:{{block.settings.range_title_color}} } 
  #shopify-section-{{section.id}}.home-progress-bar .greenie-progressbar .range {height:3px}
  #shopify-section-{{section.id}}.home-progress-bar .greenie-progressbar .range .progress-{{block.id}}-value {height:3px}
  {% endfor  %}  
  
  #shopify-section-{{section.id}}.home-progress-bar .greenie-progressbar .video-left .dt-sc-description{margin-bottom:60px; }
  
  @media(min-width:1200px) and (max-width:1540px){  
    #shopify-section-{{section.id}}.home-progress-bar .greenie-progressbar  .dt-sc-main-title{font-size:50px}
    #shopify-section-{{section.id}}.home-progress-bar .greenie-progressbar .video-left {
    padding: 0 0 0 10px;
  }
  }
  @media(min-width:992px) and (max-width:1199px){
    #shopify-section-{{section.id}}.home-progress-bar .greenie-progressbar .video-left {
    padding: 0 0 0 0px;
  }
  .greenie-progressbar .dt-sc-column.two-column {
    grid-template-columns: repeat(1,1fr);
}
    .greenie-progressbar .dt-sc-column.two-column  .dt-sc-progress-banner-section{padding:0 180px}
  }
  @media(min-width:768px) and (max-width:991px){
    .greenie-progressbar .dt-sc-column.two-column {
    grid-template-columns: repeat(1,1fr);
}
  .greenie-progressbar .dt-sc-column.two-column  .dt-sc-progress-banner-section{padding:0 100px}
  }
  @media(max-width:767px){
     #shopify-section-{{section.id}}.home-progress-bar .greenie-progressbar .video-left {
    padding: 0 0 0 0px;
  }
  
  }
    @media(max-width:575px){
  #shopify-section-{{section.id}}.home-progress-bar .greenie-progressbar  .dt-sc-main-title{font-size:40px; line-height:52px}
  
  }
  
/*custom*/
  @media screen and (max-width:780px){
    #shopify-section-{{section.id}}.home-progress-bar .greenie-progressbar .video-left{padding:0;}
  }
  
</style>



{% schema %}
{
"name": "Progress bar",
"class": "index-section home-progress-bar",
"settings": [
{
"type": "checkbox",
"id": "full",
"label": "Show Full width"
},
{
"type": "checkbox",
"id": "spacing_both_ends",
"label": "Enable Right & Left Spacing (Works only on Fullwidth)",
"default": false
},
{
"type": "text",
"id": "padding",
"label": "Style value (Padding)",
"default": "0,0",
"info": "Top(px),Bottom(px)"
},
{
"type": "text",
"id": "margin",
"label": "Style value (Margin)",
"default": "0,0",
"info": "Top(px),Bottom(px)"
},
{
"type": "checkbox",
"id": "show_background_image",
"label": "Enable Background image"
},
{
"type": "image_picker",
"id": "background_image",
"label": "Background image",
"info": "Size: 1920x1280"
},
{
"type": "select",
"id": "background_style",
"label": "Background Style",
"default": "default",
"options": [
{
"value": "default",
"label": "Default"
},
{
"value": "parallax",
"label": "Parallax"
},
{
"value": "fixed",
"label": "Fixed"
}
]
},
{
"type": "checkbox",
"id": "enable_overlay",
"label": "Enable Background Color (Used as Background Image Overlay Color too)"
},
{
"type": "color",
"id": "background_color",
"label": "Background color"
},
{
"type": "text",
"id": "overlay_transparency",
"label": "Overlay Transparency (0.01 to 1)",
"default": "0.5"
},
{
"type": "text",
"id": "section_heading",
"label": "Main Heading",
"default": "Skill Bar"
},
{
"type": "text",
"id": "section_sub_heading",
"label": "Sub Heading",
"default": "Sub Heading"
},
{
"type": "text",
"id": "section_description",
"label": "Description",
"default": "Use this text to share the information which you like!."
},
{
"type": "text",
"id": "section_button_text",
"label": "Link text"
},
{
"type": "url",
"id": "section_button_link",
"label": "Link URL"
},
{
"type": "header",
"content": "Section Color settings"
},
{
"type": "color",
"id": "section_heading_color",
"label": "Heading color"
},    
{
"type": "color",
"id": "section_sub_heading_color",
"label": "Sub heading color"
},   
{
"type": "color",
"id": "section_description_color",
"label": "Description color"
},  
{
"type": "color",
"id": "section_button_bg_color",
"label": "Button bg color"
},   
{
"type": "color",
"id": "section_button_text_color",
"label": "Button text color"
},   
{
"type": "color",
"id": "section_button_hover_bg_color",
"label": "Button hover bg color"
},   
{
"type": "color",
"id": "section_button_hover_text_color",
"label": "Button hover text color"
},
{
"type": "select",
"id": "heading_position",
"label": "Heading Position",
"options": [
{
"value": "text-center",
"label": "Center"
},
{
"value": "text-start",
"label": "Left"
},
{
"value": "text-end",
"label": "right"
}
]
},
{
"type": "header",
"content": "Video Banner - Content settings"
},
{
"type": "text",
"id": "block_title",
"label": "Title",
"default": "Title"
},  
{
"type": "text",
"id": "block_sub_title",
"label": "Sub title",
"default": "Sub title"
},  
{
"type": "text",
"id": "block_description",
"label": "Description",
"default": "Short description"
},  
{
"type": "text",
"id": "block_button_text",
"label": "Link text"
},
{
"type": "url",
"id": "block_button_link",
"label": "Link URL"
},
{
"type": "select",
"id": "content_position",
"label": "Content position",
"options": [
{
"value": "default",
"label": "Top Left"
},
{
"value": "top-center",
"label": "Top Center"
},
{
"value": "top-right",
"label": "Top Right"
},
{
"value": "center-left",
"label": "Center left"
},
{
"value": "center",
"label": "Center"
},
{
"value": "center-right",
"label": "Center right"
},
{
"value": "bottom-left",
"label": "Bottom left"
},
{
"value": "bottom-center",
"label": "Bottom center"
},
{
"value": "bottom-right",
"label": "Bottom right"
}     
],
"default": "center"
},
{
"type": "select",
"id": "block_text_align",
"label": "Text alignment",
"options": [
{
"value": "text-center",
"label": "center"
},
{
"value": "text-start",
"label": "Left"
},
{
"value": "text-end",
"label": "right"
}
]
},
{
"type": "header",
"content": "Video Banner - Media settings"
},
{
"type": "image_picker",
"id": "block_image",
"label": "Poster Image",
"info": "Size: 1280x820"
},
{
"type": "checkbox",
"id": "show_image",
"label": "Show image",
"default": true
},

{
"type": "select",
"id": "overlay_style",
"label": "Overlay Style",
"options": [
{
"value": "with-overlay",
"label": "With Default overlay"
},
{
"value": "with-mask-image with-overlay",
"label": "With Mask overlay (Select Image Below)"
}
]
},

{
"type": "checkbox",
"id": "enable_box_shadow",
"label": "Enable Box Shadow",
"default": false
},
{
"type": "text",
"id": "border_radius",
"label": "Collection Border Radius(Leave empty for Theme Default Border Radius)",
"default":"0",
"info": "Units not needed"
},  

{
"type": "color",
"id": "banner_heading_color",
"label": "Heading color"
},
{
"type": "color",
"id": "banner_sub_heading_color",
"label": "Sub heading color"
},
{
"type": "color",
"id": "banner_description_color",
"label": "Description color"
},
{
"type": "color",
"id": "banner_button_bg_color",
"label": "Button bg color"
},
{
"type": "color",
"id": "banner_button_text_color",
"label": "Button text color"
},
{
"type": "color",
"id": "banner_button_hover_bg_color",
"label": "Button hover bg color"
},
{
"type": "color",
"id": "banner_button_hover_text_color",
"label": "Button hover text color"
},
{
"type": "header",
"content": "Custom class"
},
{
"type": "text",
"id": "custom_class_name",
"label": "Add your custom class name here"
}
],

"blocks": [
{
"type": "progress",
"name": "Progress bar",        
"settings": [
{
"type": "text",
"id": "range_title",
"label": "Title",
"default": "Title"
},
{
"type": "range",
"id": "range",
"label": "Value",
"min": 1,
"max": 100,
"step": 1,
"default": 50
},
{
"type": "color",
"id": "range_title_color",
"label": "Title Color"
},
{
"type": "color",
"id": "progress_bg_color",
"label": "Progress Bg Color"
},
{
"type": "color",
"id": "progressbar_bg_color",
"label": "Progressbar Bg Color"
}
]
}
],
"presets": [
{
"name": "Progress bar",
"category": "Grid banners"
}
]
}
{% endschema %}